@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
/*Navbar section starts here*/
.navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  /* flex-direction: row; */
  /* padding: 10px; */
}
.logo {
  /* position: absolute; */
  font-family: "Bree Serif", serif;
  /* border: 1px solid rebeccapurple; */
  flex: 1;
  /* left: 200px;
  padding: 20px 0 20px 0; */
}
.ul1 {
  /* background-color: rgb(235, 235, 235); */
  list-style: none;
  

  /* position: absolute; */
  font-family: "Bree Serif", serif;
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  /* top: -10px; */
  /* left: 500px; */
  /* padding: 20px 0 20px 0; */
}

.ul1 li {
  list-style: none;
  /* display: inline-block; */
  /* padding: 10px;
  margin: 10px; */
}

.ul1 a {
  text-decoration: none;
}
.quote1 {
  flex: 1;
  display: flex;
  flex-direction: row;
   
}

#quote {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #80b500;
 
  /* border-radius: 2px; */
  
  color: aliceblue;
}

.icon{
  display: none;
  
}

@media (max-width:480px){
  .ul1,.quote1,#quote{
    display: none;
  }
  .icon{
    display: unset;
    flex: 1;
    display: flex;
    justify-content: flex-end;
   
  }
  .navbar{
    
    padding: 0 10px;
  }
}